<h1>Transactions for Account <%= @account.account_number %></h1>

<% if @transactions.any? %>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No transactions found.</p>
<% end %>
<br>
<%= link_to 'Back', @account %> 
