<h1>Account Details</h1>
<p>Account Number: <%= @account.account_number %></p>
<p>Balance: <%= @account.balance %></p>
<p>Status: <%= @account.status %></p>

<%= link_to 'Withdraw', withdraw_account_path(@account) %>
<br>
<%= link_to 'Deposit', deposit_account_path(@account) %>
<br>
<%= button_to 'Delete Account', account_path(@account), method: :delete %>
<%= link_to 'Back', accounts_path %>
